body {
  margin: 0;
  font-family: serif;
  
  background-image: url("bg-image.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background: width 150px;;
}

h1 {
  text-align:center;
  color: rgb(19, 19, 20);
}
  h1 span{
  background-color: rgb(216, 227, 230);
  }
 
code {
  font-family:  serif;
}
